<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </head>
  <body>
    <section class="page-header">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/LOGO_LS.png' | relative_url }}" 
             alt="Dr.ssa Laura Scagnellato" 
             style="max-width: 300px; width: 80%;">
      </a>
      <p class="project-tagline">{{ site.description }}</p>
    </section>

    <section class="main-content">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-credits">
          <a href="{{ site.github.repository_url }}" class="code">View on GitHub</a>
        </span>
      </footer>
    </section>

    <div class="current-section">
      <a href="#top">Scroll to top</a>
      <p class="name"></p>
    </div>
  </body>
</html>
